<h1>Listing regimes</h1>

<table>
  <tr>
    <th>Period</th>
    <th>Production</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regimes.each do |regime| %>
  <tr>
    <td><%= regime.period %></td>
    <td><%= regime.production %></td>
    <td><%= link_to 'Show', regime %></td>
    <td><%= link_to 'Edit', edit_regime_path(regime) %></td>
    <td><%= link_to 'Destroy', regime, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regime', new_regime_path %>
